<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE suite SYSTEM \"http://testng.org/testng-1.0.dtd\">\n<suite name=\"StarHub Automation Suite\" parallel=\"false\">\n  <test name=\"StarHub Functional Regression\">\n    <classes>\n      <!-- All test classes will be included here -->\n      <class name=\"com.sh.automation.tests.TC255_TestCaseSCRUM23804TS001TC001\"/>\n      <class name=\"com.sh.automation.tests.TC256_TestCaseSCRUM23804TS001TC002\"/>\n      <class name=\"com.sh.automation.tests.TC257_TestCaseSCRUM23804TS001TC003\"/>\n      <class name=\"com.sh.automation.tests.TC258_TestCaseSCRUM23804TS001TC004\"/>\n      <!-- ... 27 more test classes ... -->\n    </classes>\n  </test>\n</suite>\n